.ui.stackable.center.aligned.grid
  .sixteen.wide.column
    h4= headerText
  .four.wide.column
    i.large.comments.icon
    h3 Barter
    p Trade something or a service (anything legal but money) in exchange for something else or a service
  .four.wide.column
    i.large.idea.icon
    h3 Collaborate
    p Team up together to explore your combined creativity and make ideas come to life
  .four.wide.column
    i.large.dollar.icon
    h3 Bounty
    p Get rewarded for your talent! This is the best option to attract a large quality of talent
