.ui.stackable.grid
  .three.wide.column
      +userNavBar(selectedLink="Settings")
  .thirteen.wide.column
      h1 Edit your settings
      +autoForm(id="userSettingsForm" collection="Meteor.users" doc=currentUser type="update")
          .two.fields
              +afQuickField(name="profile.firstName")
              +afQuickField(name="profile.lastName")
          +afQuickField(name="emails.0.address")
          .two.fields
              +afQuickField(name="profile.talent" options="allowed")
              +afQuickField(name="profile.subtalent")
          .field
              label Receive Notifications?
              .two.fields
                  +afQuickField(name="profile.wantsPushNotifications")
                  +afQuickField(name="profile.wantsEmailNotifications")
          button.ui.fluid.button(type="submit") Submit


