.ui.stackable.grid
  .three.wide.column
      +userNavBar(selectedLink="Dashboard")
  .thirteen.wide.center.aligned.column.user-dashboard
      h1 Looking to connect with creatives?
      h2 Choose a project type and receive submissions from a large pool of talent
      +projectTypeSelector(editable=false headerText="Project Types")
      button.ui.primary.button
        | GET STARTED
        i.chevron.right.icon
