if isModalActive
  .ui.modal.active
    .content
      h2 Submit For Collaboration
      h3 Select Submissions
      .ui.cards
        each submissions
          +submissionItem
    .actions
      button#submit.ui.button Submit
      button#close.ui.button Close

