if isModalActive
  +autoForm(id="uploadModalForm" collection="db.Submissions" type="insert")
    .ui.modal.active
        .content
          .field
            +afQuickField(name="format" options="allowed")
          .field
            if afFieldValueIs name="format" value="Image"
              input#imageFile(type="file")
            else
              +afQuickField(name="url")
          .field
            +afQuickField(name="description")
        .actions
          button.ui.button(type="submit") Upload
          button#close.ui.button Close

