.ui.container
  h1 Create Project
  +autoForm collection='db.Projects' type="insert" id='newProjectForm'
    +afQuickField name='name'
    +afQuickField name='submissionDate' value=defaultSubmissionDate
    +afQuickField name='projectType' options="allowed"
    +if afFieldValueIs name='projectType' value='Bounty'
      +afQuickField name='bounty'
    +if afFieldValueIs name='projectType' value='Barter'
      .fields
        .eight.wide.field
          +afQuickField name='trade' options='allowed'
        .eight.wide.field
          +afQuickField name='tradeFor' options='allowed'
    +afQuickField name='location'
    +afQuickField name='description'
    h4.ui.dividing.header Collaborators
    +afEachArrayItem name='collaborators'
      .fields
        .six.wide.field
          +afQuickField name=this.current.talent options='allowed'
        .six.wide.field
          +afQuickField name=this.current.subtalent
        .three.wide.field
          +afQuickField name=this.current.quantity
        .three.wide.field
          +afQuickField name=this.current.bounty
        .two
          .autoform-remove-item.red X
    button.ui.button.autoform-add-item(data-autoform-field="collaborators") Add Collaborators

    h4.ui.dividing.header Examples
    button#upload.ui.basic.button(type="button") Upload
    .ui.three.stackable.cards
      each examples
        +submissionItem
    h4.ui.dividing.header
    button.ui.button.primary(type="submit") Submit Project

+uploadModal 